.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(47, 85, 114, .3);

    &__btn-container {
       float: right; 
    }

    &__logo {
        position: absolute;
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
    }
}